@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card: 20, 16%, 96%;
  --card-foreground: 222, 20%, 16%;

  --background: 220, 16%, 96%;
  --foreground: 222, 20%, 16%;

  --muted: 215, 14%, 80%;
  --muted-foreground: 222, 20%, 16%;

  --popover: 220, 16%, 96%;
  --popover-foreground: 222, 20%, 16%;

  --border: 222, 20%, 70%;
  --input: 222, 20%, 70%;

  --card: 220, 16%, 96%;
  --card-foreground: 222, 20%, 16%;

  --primary: 222, 20%, 70%;
  --primary-foreground: 220, 16%, 96%;

  --secondary: 215, 14%, 80%;
  --secondary-foreground: 222, 20%, 16%;

  --accent: 215, 14%, 80%;
  --accent-foreground: 222, 20%, 16%;

  --destructive: 0, 80%, 50%;
  --destructive-foreground: 222, 20%, 16%;

  --ring: 222, 20%, 70%;

  --radius: 0.5rem;
}

body {
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --card: 220, 16%, 96%;
    --card-foreground: 222, 20%, 16%;

    --background: 220, 16%, 96%;
    --foreground: 222, 20%, 16%;

    --muted: 215, 14%, 80%;
    --muted-foreground: 222, 20%, 16%;

    --popover: 220, 16%, 96%;
    --popover-foreground: 222, 20%, 16%;

    --border: 222, 20%, 70%;
    --input: 222, 20%, 70%;

    --card: 220, 16%, 96%;
    --card-foreground: 222, 20%, 16%;

    --primary: 222, 20%, 70%;
    --primary-foreground: 220, 16%, 96%;

    --secondary: 215, 14%, 80%;
    --secondary-foreground: 222, 20%, 16%;

    --accent: 215, 14%, 80%;
    --accent-foreground: 222, 20%, 16%;

    --destructive: 0, 80%, 50%;
    --destructive-foreground: 222, 20%, 16%;

    --ring: 222, 20%, 70%;

    --radius: 0.5rem;
  }
}
